@model IEnumerable<AdventureWorks.Views.Shared.Components.Products.ProductsViewModel>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakeFlag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishedGoodsFlag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSubcategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreSubcategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCategoria)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakeFlag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishedGoodsFlag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSubcategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreSubcategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoria)
            </td>
            
        </tr>
}
    </tbody>
</table>
